* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("../fuentes/helvetica.ttf");
}

html {
  font-family: miFuente;
  color: rgb(172, 248, 248);
}

body {
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedorGeneral {
  width: 85%;
  margin: 0 auto;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
}

.titulo {
  text-align: center;
  /* border: 1px solid silver; */
  flex: 100%;
}

.formularioIngreso {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid silver;
  margin-right: 20px;
  border-radius: 10px;
}

.spanResultados {
  flex: 70%;
  /* border: 1px solid silver; */
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

.spanResultados > * {
  flex-basis: 24.5%;
}

.tituloFormulario {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 500;
}

label {
  font-size: 1.2em;
  font-weight: 500;
}

input {
  margin-bottom: 12px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: silver;
  border: 1px solid silver;
  border-radius: 5px;
}

button {
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(172, 248, 248);
  padding: 5px 10px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid silver;
  cursor: pointer;
  margin-bottom: 8px;
}

button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.tarjeta{
  width: 200px;
  height: 200px;
  border: 1px solid silver;
  background: transparent;
  border-radius: 10px;
}

/* Estilos Mobile */
@media (max-width: 600px) {
  .contenedorGeneral {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0;
  }

  .titulo {
    text-align: center;
    /* border: 1px solid silver; */
    flex: 100%;
    font-size: 0.7em;
  }

  .formularioIngreso {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  border: 1px solid silver;
  margin-right: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
}

  .spanResultados > * {
    flex-basis: 49%;
  }
}
